<% if notice %>
	<div class="container mt-4">
		<div class="col-md-12 col-lg-6 mx-auto">
			<div class="alert alert-primary alert-dismissible" role="alert">
				<%= notice %>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	</div>
<% end %>
<% if alert %>
	<div class="container mt-4">
		<div class="col-md-12 col-lg-6 mx-auto">
			<div class="alert alert-danger alert-dismissible" role="alert">
				<%= alert %>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		</div>
	</div>
<% end %>
