<div class="container-xxl flex-grow-1 container-p-y">
	<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Withdrawals /</span> Pending</h4>
	<div class="row">
		<div class="card">
			<div class="col-md-3">
				<form action="">
					<div class="input-group mt-3 mb-2">
						<input type="text" class="form-control" placeholder="Search User..." aria-label="Search User..." aria-describedby="button-addon2">
						<button class="btn btn-primary" type="submit" id="button-addon2" data-turbo="false">
							<span class="tf-icons bx bx-search-alt"></span>
							Search
						</button>
					</div>
				</form>
			</div>
			<div class="table-responsive text-nowrap">
				<table class="table table-striped mb-5">
					<thead>
						<tr>
							<th>Ref No</th>
							<th>Amount</th>
							<th>Email</th>
							<th>Name</th>
							<th>Method</th>
							<th>Status</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody class="table-border-bottom-0">
						<tr>
							<td><strong>j53hhg3l3</strong></td>
							<td>$50</td>
							<td>example@mail.com</td>
							<td>
								John Doe
							</td>
							<td>Bitcoin</td>
							<td><span class="badge bg-label-warning me-1">Pending</span></td>
							<td>
								<button type="button" class="btn btn-sm btn-outline-secondary">
									<span class="tf-icons bx bx-show-alt"></span>&nbsp; View
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
